<phpunit bootstrap="./vendor/autoload.php">
  <testsuites>
    <testsuite name="Repositories">
      <directory>./repository/</directory>
      <file>*Test.php</file>
    </testsuite>
    <testsuite name="Datastructure">
      <directory>./model/</directory>
      <file>*Test.php</file>
    </testsuite>
    <testsuite name="Controller">
      <directory>./controller/</directory>
      <file>*Test.php</file>
    </testsuite>
  </testsuites>
</phpunit>
